@import "common";

.AwesomeSearchModule {
   display: flex;
	flex-wrap: wrap;
	color: $darkGray;
   .headerRow {
      text-align: center;
		flex-basis: 100%;
		font-size: 40px;
		padding-top: 81px;
		padding-bottom: 82px;
   } //headerRow
   .searchRow {
      display: flex;
      flex-basis: 100%;
		justify-content: center;
      .searchForm {
         display: flex;
			flex-wrap: wrap;
			flex-basis: 41.4%;
			.searchRepo, .searchStars {
				padding-top: 0px;
			}
         .searchForked {
				font-size: 14px;
				padding-top: 42px;
				label {
					margin-left: 70px;
				}
			}
			.searchStars {
				input, label {
					margin-left: 70px;
				}
			}
			.searchLicense {
				padding-top: 18px;
			}
      }
   } //searchRow
   .submitRow {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
		padding-top: 79px;
		padding-bottom: 71px;

      button {
			background-color: $teal;
			color: $white;
			border: 0 none;
			font-size: 10px;
			padding: 15px 38px;
			font-weight: bold;
			border-radius: 4px;
      }
   } //submitRow
   .divider {
      display: flex;
		flex-basis: 66.8%;
   } //divider

   .resultsRow {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
		justify-content: center;
		padding-top: 71px;
      .resultsHeaderRow {
         text-align: center;
         flex-basis: 100%;
      }
      .results {
         flex-basis: 50%;
      }
      .loader {
         border: 16px solid $light-grey;
         border-top: 16px solid $blue;
         border-radius: 50%;
         width: 120px;
         height: 120px;
         animation: spin 2s linear infinite;
      }
      @keyframes spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
      }
   }
} //AwesomeSearchModule
