@import "common";

.InputModule {
   font-size: 10px;
   flex-basis: 50%;
   display: flex;
   flex-direction: column;
   input,
   select {
      border: 1px solid $darkGray;
      @include boxSizing(content-box);
   }

   input[type="text"] {
      width: 74.5%;
      font-size: 14px;
      padding: 15px;
   }
   select {
      width: 74.5%;
      padding: 15px 13px 13px 15px;
      font-size: 15px;
      background: url(../images/expand-button.svg) no-repeat 95% 50%;
      background-size: 3%;
      @include appearance(none);
      border-radius: 0;
   }
   select::-ms-expand {
      display: none;
      background-color:transparent;
   }
   select::-ms-focus {
      width: auto;
      position: relative;
  }
   .before {
      display: block;
      padding-bottom: 6px;
   }

   input[type="checkbox"] {
      display: none;
   }

   input[type="checkbox"] + label:before {
      content: "\2714";
      border: 1px solid #4b5050;
      display: inline-block;
      width: 1.2em;
      height: 1.1em;
      font-size: 20px;
      padding-left: 0.2em;
      padding-bottom: 0.3em;
      margin-right: 0.5em;
      vertical-align: middle;
      color: transparent;
   }
   input[type="checkbox"] + label:after {
      margin-left: 20px;
   }

   input[type="checkbox"]:checked + label:before {
      color: $teal;
   }

   input[type="text"]:disabled {
      border: 1px solid $disabledGray;
   }

   select:disabled {
      border: 1px solid $disabledGray;
   }

   input[type="checkbox"]:disabled + label:before {
      border: 1px solid $disabledGray;
   }

   input[type="checkbox"]:checked:disabled + label:before {
      background-color: $light-grey;
      color: $darkGray;
   }
} //InputMOdule
